*{
  margin: auto;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing:border-box;
  list-style-type: none;
   text-decoration: none;
   font-family: 'Rubik', sans-serif;
}

.container {
  background: #ffd154 ;
  background-repeat: repeat;
  height: 100%;
  width: 100%;
}
.logo {
  font-family: 'Cookie', cursive;
  color: #ffd154;
}
.title-box {
  margin-top: 20px;
}

/*   navbar  */

.nav{
  background: rgb(204, 204, 204);
  background: linear-gradient(0deg,  rgb(26, 26, 26) 0%, #434343 100%);
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
}
.navContainer {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  padding: 0 10px;
  max-width: 1100px;
}
.navLogo {
  justify-self: flex-start;
  cursor: pointer;
  display: flex;
  font-size: 1.5rem;
  margin-left: 24px;
  font-weight: bold;
  align-items: center;
  text-decoration: none;
}
.navLogo a{
  color: #fff;
}
.navMenu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
  
}
.navLink {
 color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
  font-size: 1.2rem;
}
.navBtn{
  display: flex;
  justify-content: center;
  align-items: center;
}
.navBtnLink {
  background-color: #ffd154;
  border-radius: 50px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  outline: none;
  white-space: nowrap;
  color: #010606;
  
}
.mobileIcon {
  display: none;
}

@media screen and (max-width: 960px) {
   .navContainer{
   transition: 0.8s all ease;
  } 
  .navLogo {
  font-size: 1.2rem;
  margin-left: 18px;
 }
 .navLink {
  font-size: 1rem;
}

 
}

@media screen and (max-width: 768px) {
  .mobileIcon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-120%, 80%);
    font-size: 26px;
    color: #fff;
    cursor: pointer;
  }
  .navMenu {
    display: none;
  }
  .navBtn {
    display: none;
  }
  .navLogo {
  font-size: 1rem;
 }
}

/*  SIDEBAR  */
.hidden {
  display: none;
  }
  
   /* @media screen and (max-width: 768px){   */
  
  .sidebarContainer  {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: #0d0d0d;
  display: grid;
  align-items: center;
  top: 0;
  left: 0;
  transition: 0ms.3s ease-in-out;
}

.sidebarMenu {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 80px);
  text-align: center;
}
.fa-window-close {
  color: #fff;
  position: absolute;
  top:0;
  right: 0;
  margin:30px;
  font-size: 35px;
}

.hrSidebar {
  border: 1px solid #ffd154;
  height: 1px;
  margin: 40px 0 20px 0;
}

.sidebarLink {
   display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  text-decoration: none;
  list-style: none;
  transition: 0ms.2s ease-in-out;
  color: #fff;
  cursor: pointer;
}
.sidebarLink :hover {
   color: #01bf71;
    transition: 0.2s ease-in-out;
}
 /* }     */

/*  signup and login form */

.container-form {
  border:none;
  border-radius: 5px;
  padding:10px;
  width:75%;
  margin-top: 30px;
  -webkit-box-shadow: -5px -5px 10px rgba(50, 50, 50, 1);
  -moz-box-shadow: -5px -5px 10px rgba(50, 50, 50, 1);
  box-shadow: -5px -5px 10px rgba(50, 50, 50, 1);
  
}
.container-form h1,p{
  margin: 10px 0;
}
.input-signup , select {
  width: 100%;
  padding: 10px;
  margin: 5px 0 10px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
.input-signup, select :focus {
  background-color: #ddd;
  outline: none;
}
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
.signupbtn {
  background-color: #01bf71;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
button:hover {
  opacity:1;
}

/*  Recipe Card  */

.card {
  position: relative;
  background: white;
  max-width: 600px;
  margin: 30px auto;
  box-shadow: 0px 0px 30px 2px #000;
  border-radius: 5px; 
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 250px;
}
.video {
  background-size:cover;
  max-width: 600px;
  width:100%;
  height:250px;
  border-radius: 5px 5px 0 0;
}
.text .food { 
  color: black;
  text-align: left;
  font-weight:700;
  text-shadow: 5px 5px 10px #787978;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 5px 20px;
}
.fa-clock {
  color: gray;
  margin: 0 20px;
}
.fa-users {
  color: gray;
}   
.stars {
  margin: 10px 20px;    
}
.stars li a i {
  color: #ffe500;
}
.info {
  margin: 10px 20px;
  font-size: 12px;
}
.info li {
  list-style-type:disc;
  margin: 0 10px;
}
.btn {
  background-color: #ddd;
  border-radius:0 0 5px 5px;
  width:100%;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  transition: 0.3s;
}
.btn:hover {
  background-color: #01bf71;
  color: white;
}
h3{
  margin: 10px 0;
}

@media screen and (max-width: 768px) {
  .card{
    margin: 30px 75px;
  }
}

/*  recipeSearch  */

.recipes-container, .message-notFound {
  margin: 30px 0 25px 60px;
}
.input-search {
  width: 200px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  padding: 15px 20px;
  margin-right: 10px;
  transition: width 1.2s ease-in-out;
}
.btn-search {
  display: inline-block;
}
.btn-search button  {
  padding: 20px 20px;
   background: rgb(204, 204, 204);
  background: linear-gradient(0deg, rgb(26, 26, 26) 0%, #434343 100%); 
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.input-search:focus {
  width: 50%;
}
.title-search {
  margin-left: 60px;
  color:#434343;
}
.title-search-input {
  color:#434343;
}
.search-ingredients {
  width:90%;
  border:none;
  background-image: url('./images/bg-wood.jpeg');
  background-position: center;
  background-size: cover;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 30px;
}

input[type=checkbox] + label {
  display: block;
  margin-bottom: 0.2em;
  cursor: pointer;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label:before {
  content: "\2714";
  border: 0.1em solid #000;
  border-radius: 0.2em;
  display: inline-block;
  width: 0.7em;
  height: 0.7em;
  padding-left: 0.5em;
  padding-bottom: 0.3em;
  margin-right: 0.6em;
  vertical-align: bottom;
  color: transparent;
  transition: .8s;
}

input[type=checkbox] + label:active:before {
  transform: scale(0);
}

input[type=checkbox]:checked + label:before {
  background-color: MediumSeaGreen;
  border-color: MediumSeaGreen;
  color: #fff;
}

input[type=checkbox]:disabled + label:before {
  transform: scale(1);
  border-color: #aaa;
}

input[type=checkbox]:checked:disabled + label:before {
  transform: scale(1);
  background-color: #bfb;
  border-color: #bfb;
} 


.search-form{
  display: flex;
  justify-content: space-between;
  align-items:stretch;
  margin: 0;
}
.btn-search2 button {
  padding: 80px 20px;
  font-size: 30px;
  color: #fff;
  background: rgb(204, 204, 204);
  background: linear-gradient(0deg,  rgb(26, 26, 26) 0%, #434343 100%);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin:0 30px;
}
.recipe-box{
  width:90%;
  border:1px solid gray;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
  padding:20px;
  background-image: url('./images/bg-wood.jpeg');
  background-position:center;
  background-repeat:round;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.recipe-box-recipe {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: rgb(204, 204, 204);
  background: linear-gradient(0deg,  rgb(26, 26, 26) 0%, #434343 100%);
  margin:15px;
  text-align: center;
  max-height:300px;
  border-radius: 4px;
  padding:10px;
  max-width: 250px;
 box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.recipe-box-recipe h3 {
  margin-bottom: 10px;
  color: #fff;
}
.searchBox {
  
  border: none;
  border-radius: 4px;
  background: rgb(204, 204, 204);
  background: linear-gradient(0deg,  rgb(26, 26, 26) 0%, #434343 100%); 
  padding: 10px;
  width: 230px;
  height: 200px;
  margin: 10px 50px;
  color: white;
  font-size: 1.2em;
  overflow-x: hidden;
  overflow-y: scroll;
  white-space: nowrap;
  text-align:left;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.searchBox h4 {
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: 'Nanum Brush Script', cursive;
  font-size: 2rem;
}

.searchBox label {
 font-family: 'Nanum Brush Script', cursive;
 font-size: 1.8rem;
}
.searchBox hr {
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
 
}

/*  profile page  */

.container-profile{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffd154;
} 
.container-form {
  border:none;
  border-radius: 5px;
  background: #fff;
  padding:10px;
  width:75%;
  margin-top: 30px;
  -webkit-box-shadow: -5px -5px 10px rgba(50, 50, 50, 1);
  -moz-box-shadow: -5px -5px 10px rgba(50, 50, 50, 1);
  box-shadow: -5px -5px 10px rgb(105, 105, 105);
}
.container-form h1,p{
  margin: 10px 0;
}
.input-signup , select {
  width: 100%;
  padding: 10px;
  margin: 5px 0 10px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
.input-signup, select :focus {
  background-color: #cdd;
  outline: none;
}
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
.signupbtn {
  background: rgb(204, 204, 204);
  background: linear-gradient(0deg,  rgb(26, 26, 26) 0%, #434343 100%);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
button:hover {
  opacity:1;
}

/*  favourite list  */

.container-favList {
  margin: 50px;
  height: 100vh;
}
.container-favList h1 {
  margin-bottom: 30px;
}
.sortbtns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
.sortbtns button {
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  color: #fff;
  background: rgb(204, 204, 204);
  background: linear-gradient(0deg,  rgb(26, 26, 26) 0%, #434343 100%);
}

.recipeBox-title {
  text-align: center;
  font-size: 16px;
}
.recipeBox-video {
 text-align: center;
}
.recipeBox-btns {
  display: flex;
}
.recipeBox-btns button {
  padding: 5px 15px;
  color: #fff;
  margin-right: 15px;
}

@media screen and (max-width: 768px) {
  .sortbtns{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  }
  .sortbtns button {
  border: none;
  padding: 8px 15px;
  margin-bottom: 10px;
}
}

/*  CREATE RECIPE  */

.container-createRecipe {
  border:none;
  background: #fff;
  border-radius: 5px;
  padding:10px;
  width:60%;
  margin-top: 30px;
  -webkit-box-shadow: -5px -5px 10px rgba(50, 50, 50, 1);
  -moz-box-shadow: -5px -5px 10px rgba(50, 50, 50, 1);
  box-shadow: -5px -5px 10px rgba(50, 50, 50, 1);
}
.container-createRecipe label {
  font-size: 0.8rem;
}
hr {
  margin:10px;
}
.input-recipe  {
  width: 100%;
  padding: 8px;
  margin: 5px 0 8px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
.input-recipe :focus {
  background-color: #ddd;
  outline: none;
}

/*  CREATEDLIST*/

 .fa-trash {
  background: red;
  color: #fff;
  border-radius: 50px;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  outline: none;
  white-space: nowrap;
}
