* {
  margin: auto;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing:border-box;
  list-style-type: none;
   text-decoration: none;
   font-family: 'Rubik', sans-serif;
  
}
.logo {
  font-family: 'Cookie', cursive;
  color: #ffd154;
}
.title-box {
  margin-top: 20px;
}
.container {
  background: #ffd154 ;
  height: 100vh;
  width: 100%;
  max-width: 1400px;
  min-width: 630px;
}

.container-notFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:auto;
  background-color: rgb(233, 227, 218);
  height: 100vh;
}
.title-notFound {
  margin: 50px;
  text-align: center;
}
.image-notFound{
  width:500px;
}
.btn-notFound {
   background-color: #ffd154;
  border-radius: 50px;
  padding: 25px 40px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 24px;
  color: #010606;
}

